In [ ]:
import sys
import os
sys.path.append(os.path.abspath('../'))
from scripts.data_clean import DataCleaner

In [2]:
cleaner = DataCleaner()

print("--- Loading Data ---")
fraud_df = cleaner.load_data("../data/raw/Fraud_Data.csv")

print("--- Cleaning Data ---")
fraud_df = cleaner.handle_missing_values(fraud_df)
fraud_df = cleaner.remove_duplicates(fraud_df)
fraud_df = cleaner.correct_data_types(fraud_df)

print("--- Feature Engineering ---")
new_df = cleaner.engineer_features(fraud_df)

--- Loading Data ---
--- Cleaning Data ---
--- Feature Engineering ---

In [4]:
new_df.head(5)

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address,class,time_since_signup,hour_of_day,day_of_week,user_transaction_count,device_usage_count
0,22058,2015-02-24 22:55:49,2015-04-18 02:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,732758368,0,4506682.0,2,5,1,1
1,333320,2015-06-07 20:39:50,2015-06-08 01:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,350311387,0,17944.0,1,0,1,1
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2621473820,1,1.0,18,3,1,12
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3840542443,0,492085.0,13,0,1,1
4,221365,2015-07-21 07:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,415583117,0,4361461.0,18,2,1,1